:plain
  ---
  layout: default
  title: Making Sport &amp; <br class="show-for-small-only"/>Fitness Fun
  excerpt: Our aim is to make fitness and sport fun and build healthy habits for life.
  ---

%img{ data: {interchange: "[{{ '/c_scale,f_auto,w_970/v1423519271/kids_jumping_cdmq4q.jpg' | prepend: site.cloudinary_prefix }} (default)],[{{ '/c_scale,f_auto,w_600/v1423519106/kids_jumping2_q5zwh9' | prepend: site.cloudinary_prefix }} (small-only)]"}}

#about_us.panel.callout
  %h3 What we do

  %p
    Fit4Tots classes are designed to be energetic and fun and build valuable skills in balance, coordination and agility. We want to build healthy habits for life and use music and games to make the experience a really positive one for all children.

  %p
    Fit4Tots classes offer a broad range of sports and fitness activities for children from 2 to 7 years old. Children get to try out and build skills for a variety of sports in a fun and varied environment. We offer classes in schools, nurseries and community venues and  build a foundation of healthy fitness habits through sport, games, music and movement.


{% assign default_tr = '/w_600,c_scale/w_600,h_600,c_crop,g_north,f_auto' %}
{% assign medium_tr = '/w_270,c_scale/w_270,h_180,c_crop,g_north,f_auto' %}

.row
  #schools.medium-4.columns
    .panel
      %h3 Schools
      %p We run fitness and multi skills classes for KS1

      {% assign img = '/v1423519123/school_photo_kbozdy' %}
      %img{data: { interchange: "[{{ img | prepend: default_tr | prepend: site.cloudinary_prefix }} (default)], [{{ img | prepend: medium_tr | prepend: site.cloudinary_prefix }} (medium)]"}}

  #nurseries.medium-4.columns
    .panel
      %h3 Nurseries
      %p Fun fitness and sports classes for pre-schoolers

      {% assign img = '/v1423519084/girls_dancing_tabj5k.jpg' %}
      %img{data: { interchange: "[{{ img | prepend: default_tr | prepend: site.cloudinary_prefix }} (default)], [{{ img | prepend: medium_tr | prepend: site.cloudinary_prefix }} (medium)]"}}

  #parents.medium-4.columns
    .panel
      %h3 Parents
      %p Join in some fitness fun with your little one
      {% assign img = '/v1423568695/IMG_4392_lpgcf6' %}
      %img{data: { interchange: "[{{ img | prepend: default_tr | prepend: site.cloudinary_prefix }} (default)], [{{ img | prepend: medium_tr | prepend: site.cloudinary_prefix }} (medium)]"}}

#location
  .panel
    .row
      .medium-7.columns
        %h3 Where we are
        Our classes take place in Bristol and North Somerset

      .medium-5.columns.text-center
        %img{src: "{{ '/images/uk_map.svg' | prepend: site.baseurl }}"}

#contact_us.panel
  %h3 What to find out more?
  .row
    .small-6.columns
      Email
      %a(href="mailto:{{site.email}}") {{site.email}}
    .small-6.columns
      .right
        Call Lesley
        %a(href="tel:{{site.telephone | replace: ' ', '' | replace: '-', '' }}") {{site.telephone}}
