<blockquote class="show-for-medium-up">
  <p>
    Children at Early Birds Nursery have been taking part in well planned, play based sessions. These fun sessions encourage development of both listening and physical skills.
  </p>
  <p>
    As the sessions progress children are using the skills they have learnt in their free play in nursery, I saw a child trying to teach a friend how to jump like a frog and another trying to throw bean bags in to a bucket.
  </p>
  <p>
    As they leave at the end of the day I hear them telling their parents what they have done that day.  We feel here at Early Birds Nursery that Fit4Tots is an enjoyable part of our weekly routine offering regular exercise and fresh ideas for staff to take forward.
  </p>
  <cite>Rachel White, Manager, Early Birds Nursery</cite>
</blockquote>

<blockquote class="show-for-small-only">
  <p>
    We feel here at Early Birds Nursery that Fit4Tots is an enjoyable part of our weekly routine offering regular exercise and fresh ideas for staff to take forward.
  </p>
  <cite>Rachel White, Manager, Early Birds Nursery</cite>
</blockquote>
