---
layout: default
title: Information for Schools
---
{% assign contact_us_path = '/contact_us' | prepend: site.base_url | append: '?subject=schools' %}
<div class="panel callout">
  <div class="row">
    <div class="medium-6 columns">
      <img data-interchange="[{{site.cloudinary_prefix}}/w_550,c_scale,f_auto/v1423519106/kids_jumping2_q5zwh9 (default)], [{{site.cloudinary_prefix}}/w_450,c_scale,f_auto/v1423519106/kids_jumping2_q5zwh9 (medium)]">
    </div>
    <div class="medium-6 columns">
      <br class="show-for-small-only">
      {% capture content %}{% include schools/summary.md %}{% endcapture %}
      {{ content | markdownify }}
      <a class="button secondary small" href="{{contact_us_path}}">Contact Us</a>
    </div>
  </div>
</div>
<div class="panel">
  {% capture content %}{% include schools/sports.md %}{% endcapture %}
  {{ content | markdownify }}
  <a class="button tiny medium-right" href="{{contact_us_path}}">Find out more</a>
  <br class="show-for-medium-up">
</div>
<div class="panel">
  {% capture content %}{% include schools/fitness.md %}{% endcapture %}
  {{ content | markdownify }}
  <a class="button tiny medium-right" href="{{contact_us_path}}">Find out more</a>
  <br class="show-for-medium-up">
</div>
<div class="panel">
  {% capture content %}{% include schools/workshops.md %}{% endcapture %}
  {{ content | markdownify }}
  <a class="button tiny medium-right" href="{{contact_us_path}}">Find out more</a>
  <br class="show-for-medium-up">
</div>
<div class="panel">
  <div class="row">
    <div class="medium-6 columns">
      {% capture content %}{% include schools/trainers.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>
    <div class="medium-6 columns">
      <img data-interchange="[{{site.cloudinary_prefix}}/w_550,c_scale,f_auto/v1424204516/lesley_at_birdwell_q6fs0n (default)], [{{site.cloudinary_prefix}}/w_450,c_scale,f_auto/v1424204516/lesley_at_birdwell_q6fs0n (medium)]">
    </div>
  </div>
</div>
<br>
