:plain
  ---
  layout: default
  title: Contact Us
  ---

.row
  .large-6.medium-8.columns.small-centered
    %form{action: 'http://formspree.io/info@fit4tots.com', method: 'POST' }
      %input{type: 'text', name: '_gotcha', style: 'display:none' }

      %input{type: 'hidden', name: '_subject',
             value: "{{site.title}} enquiry" }

      %input{type: 'hidden', name: '_next',
              value: "{{ '/contact_us/thanks.html' | prepend: site.baseurl | prepend: site.url }}" }

      %label Name
      %input{name: 'name', type: 'text', required: true,
             placeholder: 'Please tell us your name' }

      %label Email address
      %input{name: 'email', type: 'email', required: true,
             placeholder: "What is your email address?" }

      %label Subject
      %select{name: 'subject', required: true }
        %option(value='general') General enquiry
        %option(value='schools') Schools enquiry
        %option(value='nurseries') Nurseries enquiry
        %option(value='parents') Parents enquiry

      %label Message
      %textarea{name: 'body', rows: 5, required: true,
          placeholder: 'Please tell us what you are enquiring about...' }

      %input.button.small{type: 'submit', value: 'Send'}