:plain
  ---
  layout: default
  title: Contact Us
  ---

.row
  .large-6.medium-8.columns.small-centered
    %form#contact_us{action: "http://formspree.io/{{site.email}}",
                     method: 'POST', data: { abide: '' } }
      %input{type: 'text', name: '_gotcha', style: 'display:none' }

      %input{type: 'hidden', name: '_subject',
             value: "{{site.title}} enquiry" }

      %input{type: 'hidden', name: '_next',
             value: "{{ '/contact_us/thanks.html' | prepend: site.baseurl | prepend: site.url }}" }

      %div
        %label(for='name') Name
        %input{ name: 'name', type: 'text', required: '',
                autofocus: '', autocorrect: 'off', spellcheck: 'off',
                placeholder: 'Please tell us your name', tabindex: 1 }
        %small#nameError.error can't be blank

      %div
        %label(for='email') Email address
        %input{ name: 'email', type: 'email', required: '',
          autocapitalize: 'off', autocorrect: 'off', spellcheck:  'off',
          placeholder: "What is your email address?", tabindex: 2 }
        %small#emailError.error must be a valid email address

      %div
        %label(for='subject') Subject
        %select{name: 'subject', required: '', tabindex: 3 }
          -# %option(value='') - Select -
          %option(value='general') General enquiry
          %option(value='schools') Schools enquiry
          %option(value='nurseries') Nurseries enquiry
          %option(value='parents') Parents enquiry
        %small#subjectError.error can't be blank

      %div
        %label(for='message') Message
        %textarea{ name: 'body', rows: 5, required: '', tabindex: 4,
          placeholder: 'Please tell us what you are enquiring about...' }
        %small#messageError.error can't be blank

      %input.button.small{type: 'submit', value: 'Send', tabindex: 5}