:plain
  ---
  layout: default
  title: Contact Us - Thanks
  ---

%br
.row
  .large-6.medium-8.columns.small-centered.text-center
    %p Thank you for your enquiry.
    %p We will be in touch very soon.