<blockquote>
  <p>
    My daughter can often be quite shy and take some time to warm up
    in new environments, but Lesley was a very calm and welcoming presence,
    and so despite my daughter being apprehensive she was always smiling by
    the end of the class and looking forward to going again the following week.
  </p>

  <p>
    She learnt a lot of new skills particularly around throwing and catching,
    using her body in gentle or slow movements and balancing.
  </p>

  <p class="show-for-medium-up">
    At home we regularly 'played' fit4tots with one of us being Lesley.
    We did the warm up and other songs and we practised some of the
    new skills she had learnt. I honestly believe that it has improved a
    lot of her co-ordination skills and has made her more aware of how she
    uses her body, and we have both had a lot of fun both at home and
    taking part in classes.
  </p>

  <cite>Anna, Long Ashton</cite>
</blockquote>
