---
layout: default
title: About Us
---
<div class="panel callout">
  <div class="row">
    <div class="medium-6 columns">
      {% capture content %}{% include about_us/summary.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>
    <div class="medium-6 columns">
      <img data-interchange="[{{site.cloudinary_prefix}}/w_550,c_scale,f_auto/v1424204516/lesley_at_birdwell_q6fs0n (default)], [{{site.cloudinary_prefix}}/w_450,c_scale,f_auto/v1424204516/lesley_at_birdwell_q6fs0n (medium)]">
    </div>
  </div>
</div>
<div class="panel">
  {% capture content %}{% include about_us/more.md %}{% endcapture %}
  {{ content | markdownify }}
</div>
