:plain
  ---
  layout: default
  title: About Us
  ---

.panel.callout
  .row
    .medium-6.columns
      {% capture content %}{% include about_us/summary.md %}{% endcapture %}
      {{ content | markdownify }}

    .medium-6.columns
      :ruby
        default_tr = '/w_550,c_scale,f_auto/'
        medium_tr = '/w_450,c_scale,f_auto/'
        img = 'v1424204516/lesley_at_birdwell_q6fs0n'

      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]"}}

.panel
  {% capture content %}{% include about_us/more.md %}{% endcapture %}
  {{ content | markdownify }}