.facebook-color {
  color: $facebook_color;
}

.twitter-color {
  color: $twitter_color;
}

.script-font {
  font-family: $f4t_script_font;
}

#environment {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: rem-calc(12);
  background-color: #3CB371;
  border-top-left-radius: $global-radius * 2;
  color: #fff;
  font-size: rem-calc(12);
  line-height: 0;
  z-index: 10000;
  display: none;
  &.development, &.staging { display: block; }
}

// Foundation tweaks

@media #{$small-only} {
  .small-only-text-center {
    text-align: center;
  }
}

@media #{$medium-only} {
  h1 {
    font-size: $h1-font-size - ($h1-font-reduction / 2);
  }
}

@media #{$medium-up} {
  .medium-right {
    float: right !important;
  }
  .medium-text-center {
    text-align: center;
  }
}

@media #{$large-up} {
  .large-right {
    float: right !important;
  }
  .large-text-center {
    text-align: center;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  // All "text-like" input fields should have rounded corners
  border-radius: $global-radius;

  @media #{$small-only} {
    // Set to 16px to ensure that iPhones don't zoom into the form
    // http://stevenosloan.com/articles/2013/prevent-zooming-on-forms
    font-size: 16px;
  }
}

// Correct a bug with iPhone landscape font display
@media #{$small-only} and (orientation:landscape) {
  body { -webkit-text-size-adjust: none; }
}

blockquote {
  span {
    font-family: $f4t_script_font;
    font-size: $h4-font-size;
  }
}

.panel {
  &, img { border-radius: $global-radius; }

  &.callout {
    margin-top: 1px;
    &, h1, h2, h3, h4, p { color: $white; }
    background-color: $f4t_blue;
    border-color: $f4t_pink;
  }

  button, .button {
    margin-bottom: 0;
  }
}

.button, input[type=submit], button {
  border-radius: $global-radius;
}