$logo_width: rem(96);

header {
  a.logo {
    position: fixed;
    line-height: 0;
    display: block;
    margin-top: rem(12);
    z-index: 1;

    object, img {
      box-sizing: border-box;
      display: block;
      width: $logo_width;
      height: $logo_width;
      background: $f4t_blue;
      border: rem(2) solid $f4t_pink;
      border-radius: rem(24);
      padding: rem(4);

      cursor: pointer;
      pointer-events: none;
      z-index: -1;
      display: block;
    }
  }

  > div > nav {
    margin-left: $logo_width + rem(48);
  }
}