@media #{$medium-up} {
  .medium-right {
    float: right !important;
  }
}

@media #{$large-up} {
  .large-right {
    float: right !important;
  }
}

$logo_width: rem-calc(96);

a#nav_logo {
  @media #{$small-only} {
    position: absolute !important;
  }

  line-height: 0;
  display: block;
  top: rem-calc(8);
  left: rem-calc(16);
  z-index: 100;

  img {
    display: block;
    width: $logo_width;
    height: $logo_width;
    background: $f4t_blue;
    border: rem-calc(2) solid $f4t_pink;
    border-radius: rem-calc(24);
    padding: rem-calc(4);

    cursor: pointer;
    pointer-events: none;
    z-index: -1;
    display: block;
  }
}

nav.top-bar {
  @media #{$medium-up} {
    .top-bar-section {
      margin-left: $logo_width + rem-calc(32) !important;
    }
  }

  ul.social img {
    width: rem-calc(32);
    border-radius: $global-rounded;
    border: 0;
    background-color: $white;
  }
}

body > div > div > main {
  padding-top: $logo_width - $topbar-height + rem-calc(16);
}

#environment {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: rem-calc(12);
  background-color: rgb(246, 139,  31);
  border-top-left-radius: $global-radius * 2;
  color: #fff;
  font-size: rem-calc(12);
  line-height: 0;
  z-index: 10000;
  display: none;
  &.development, &.staging { display: block; }
}
