// Foundation tweaks

@media #{$medium-up} {
  .medium-right {
    float: right !important;
  }
}

@media #{$large-up} {
  .large-right {
    float: right !important;
  }
}

.panel {
  &, img { border-radius: $global-radius; }

  &.callout {
    margin-top: 1px;
  }
}

// Layout

$logo_width: rem-calc(96);

a#nav_logo {
  position: absolute;

  line-height: 0;
  display: block;
  top: rem-calc(8);
  left: rem-calc(16);
  z-index: 100;

  img {
    display: block;
    width: $logo_width;
    height: $logo_width;
    background: $f4t_blue;
    border: rem-calc(2) solid $f4t_pink;
    border-radius: rem-calc(24);
    padding: rem-calc(4);

    cursor: pointer;
    pointer-events: none;
    z-index: -1;
    display: block;
  }
}

nav.top-bar {
  @media #{$medium-up} {
    .top-bar-section {
      margin: 0 ($column-gutter / 2) 0 ($logo_width + ($column-gutter / 2)) !important;
    }
  }
}

/// Sticky Footer styles
$medium-footer-height: rem-calc(80);
$small-footer-height: rem-calc(110);

body > .off-canvas-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  padding-bottom: $column-gutter / 2;

  margin-bottom: -$small-footer-height;
  > .inner-wrap { padding-bottom: $small-footer-height; }

  @media #{$medium-up} {
    margin-bottom: -$medium-footer-height;
    > .inner-wrap { padding-bottom: $medium-footer-height; }
  }
}

body > footer {
  height: $small-footer-height;

  @media #{$small-only} { height: $small-footer-height; }
  @media #{$medium-up} { height: $medium-footer-height; }

  background: $f4t_orange;
  padding-top: ($topbar-height / 2);

  &, a, a:hover { color: $white; }
  a:hover { text-decoration: underline; }

  ul.left, ul.right {
    @include inline-list;
  }

  nav {
    margin: 0 ($column-gutter / 2);
  }
}


body > div > div > main {
  padding-top: rem-calc(16);

  $extra_padding: $logo_width - $topbar-height + rem-calc(8);

  @media #{$small-only} {
    padding-top: $extra_padding;
  }
  @media #{$medium-only} {
    padding-top: $extra_padding;
  }
}

@media #{$small-only} {
  .top-bar-section ul li {
    text-align: right;
    > a {
      padding-left: 0;
      padding-right: $topbar-link-padding;
    }
  }
}

.social-icons {
  list-style-type: none;
  footer & {
    float: right;
    li { float: left; }
    a { padding: 0 0 0 $topbar-link-padding; }
  }

  @media #{$medium-up} {
    float: right;
    li { float: left; }
    a { padding: 0 0 0 $topbar-link-padding !important; }
  }

  svg, img, object {
    width: rem-calc(32);
    height: rem-calc(32);
    display: inline-block;
    vertical-align: middle;
    z-index: -1;
    pointer-events: none;
  }

  nav.top-bar & a:not(:hover) svg {
    circle { fill: #000; }
    path { fill: $gainsboro; }
  }
  a {
    z-index: 1;
    text-decoration: none;
  }
}

#environment {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: rem-calc(12);
  background-color: #3CB371;
  border-top-left-radius: $global-radius * 2;
  color: #fff;
  font-size: rem-calc(12);
  line-height: 0;
  z-index: 10000;
  display: none;
  &.development, &.staging { display: block; }
}
