---
layout: default
title: Information for Parents
---
{% assign contact_us_path = '/contact_us' | prepend: site.base_url | append : '?subject=parents' %}
<div class="panel callout">
  <div class="row">
    <div class="medium-6 columns">
      {% capture content %}{% include parents/summary.md %}{% endcapture %}
      {{ content | markdownify }}
      <a class="button secondary small" href="{{contact_us_path}}">Contact Us</a>
    </div>
    <div class="medium-6 columns">
      <br class="show-for-small-only">
      <img data-interchange="[{{site.cloudinary_prefix}}/c_crop,x_2000,y_0,w_1500,h_3000,g_east/w_550,c_scale,f_auto,a_90/v1424269478/IMG_4416_azzgtz (default)], [{{site.cloudinary_prefix}}/c_crop,x_2000,y_0,w_1500,h_3000,g_east/w_450,c_scale,f_auto,a_90/v1424269478/IMG_4416_azzgtz (medium)]">
    </div>
  </div>
</div>
<div class="panel">
  {% include parents/testimonial1.html %}
</div>
<div class="panel">
  {% capture content %}{% include parents/class_content.md %}{% endcapture %}
  {{ content | markdownify }}
</div>
<div class="panel">
  {% include parents/testimonial2.html %}
</div>
<div class="row" data-equalizer>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch>
      {% capture content %}{% include parents/venues.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch>
      <img data-interchange="[{{site.cloudinary_prefix}}/w_550,c_scale,f_auto/v1424519929/IMG_4407_tfblvs (default)], [{{site.cloudinary_prefix}}/w_260,c_scale,f_auto,a_90/v1424269474/IMG_4412_i1h3ky (medium)], [{{site.cloudinary_prefix}}/w_260,c_scale,f_auto/v1424519929/IMG_4407_tfblvs (large)]">
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch>
      {% capture content %}{% include parents/prices.md %}{% endcapture %}
      {{ content | markdownify }}
      <p>
        Please
        <a href="{{contact_us_path}}">contact us</a>
        to book a place in our community classes.
      </p>
    </div>
  </div>
</div>
