!!! 5
%html{ class: 'no-js', lang: 'en'}
  {% include layouts/head.html %}
  %body
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        {% include layouts/top_bar.html %}

        %main(role="main")
          .row
            .columns
              {{ content }}

        %a.exit-off-canvas

    {% include layouts/footer.html %}
    {% include layouts/bottom.html %}
