!!! 5
%html{ class: 'no-js', lang: 'en'}
  {% include layouts/head.html %}
  %body
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        {% include layouts/top_bar.html %}

        {% capture nav_logo %}
        %a#nav_logo{href: "{{ '/' | prepend: site.baseurl }}"}
          %img{src: "{{ '/images/logo-outline.svg' | prepend: site.baseurl }}" }
        {% endcapture %}

        %header.row
          .medium-2.large-2.columns {{ nav_logo }}

          {% unless page.title == null %}
          .medium-10.large-8.columns.end
            %h1 {{ page.title}}
          {% endunless %}

          .large-2.columns.show-for-large-up
            .right {{ nav_logo }}

        %main.row(role="main")
          .columns {{ content }}

        %a.exit-off-canvas

    {% include layouts/footer.html %}
    {% include layouts/bottom.html %}
