<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include layouts/head.html %}
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        {% include layouts/top_bar.html %}
        {% capture nav_logo %}
        <a href="{{ '/' | prepend: site.baseurl }}" id="nav_logo">
          <img src="{{ '/images/logo-outline.svg' | prepend: site.baseurl }}">
        </a>
        {% endcapture %}
        <header class="row">
          <div class="medium-2 large-2 columns">{{ nav_logo }}</div>
          {% unless page.title == null %}
          <div class="medium-10 large-8 columns end">
            <h1>{{ page.title}}</h1>
          </div>
          {% endunless %}
          <div class="large-2 columns show-for-large-up">
            <div class="right">{{ nav_logo }}</div>
          </div>
        </header>
        <main class="row" role="main">
          <div class="columns">{{ content }}</div>
        </main>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
    {% include layouts/footer.html %}
    {% include layouts/bottom.html %}
  </body>
</html>
