<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include layouts/head.html %}
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        {% include layouts/top_bar.html %}
        {% capture nav_logo %}
        <a href="{{ '/' | prepend: site.baseurl }}" id="nav_logo">
          <img src="{{ '/images/logo-outline.svg' | prepend: site.baseurl }}">
        </a>
        {% endcapture %}
        <div class="show-for-small-only">{{ nav_logo }}</div>
        <main role="main">
          <header class="row">
            <div class="medium-2 columns show-for-medium-up">
              {{ nav_logo }}
            </div>
            {% unless page.title == null %}
            <div class="medium-10 large-8 columns end">
              <h1 class="small-only-text-center large-text-center">{{ page.title}}</h1>
            </div>
            {% endunless %}
            <div class="large-2 columns show-for-large-up">
              <div class="right">
                {{ nav_logo }}
              </div>
            </div>
          </header>
          <div class="row">
            <div class="columns">
              {{ content }}
            </div>
          </div>
        </main>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
    {% include layouts/footer.html %}
    {% include layouts/bottom.html %}
  </body>
</html>
