---
layout: default
---
<div>
  <header>
    <h5 class="subheader">
      {{ page.date | date: "%-d %b %Y" }}
      {% if page.author %} &bull; {{ page.author }}{% endif %}{% if page.meta %} &bull; {{ page.meta }}{% endif %}
    </h5>
  </header>
  {% if page.image %}
  <div class="show-for-small-only">
    <img class="radius" data-interchange="[{{site.cloudinary_prefix}}/c_scale,f_auto,w_630/v1/{{ page.image }} (small-only)]">
    <br>
    <br>
  </div>
  {% endif %}
  <article>{{ content }}</article>
  {% if page.image %}
  <div class="show-for-medium-up">
    <img class="radius" data-interchange="[{{site.cloudinary_prefix}}/c_scale,f_auto,w_970/v1/{{ page.image }} (medium)]">
    <br>
    <br>
  </div>
  {% endif %}
</div>
