:plain
  ---
  layout: default
  ---

%div
  %header
    %h1 {{ page.title }}
    %p {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} &bull; {{ page.author }}{% endif %}{% if page.meta %} &bull; {{ page.meta }}{% endif %}

  %article {{ content }}

