#environment{class: "{{ site.environment }}"}
  {{ site.environment | capitalize }}
  %span
    %span.show-for-small-only [small]
    %span.show-for-medium-only [medium]
    %span.show-for-large-only [large]

%script{src: "{{ '/js/vendor.js' | prepend: site.baseurl }}", charset: "utf-8"}

%script{ src: "{{ '/js/app.js' | prepend: site.baseurl }}", charset:"utf-8"}
