%footer(role="contentinfo")
  %nav
    %ul.left
      %li
        %a(href="javascript:void(0)") About Us

    {% include social_icons.html %}

    %ul.right
      %li &copy; {{ site.time | date: '%Y' }} {{ site.title }}
