<footer role="contentinfo">
  <div class="row">
    <div class="columns">
      <nav>
        <ul class="left">
          <li>
            <a href="{{ '/about_us' | prepend: site.baseurl }}">About Us</a>
          </li>
          <li>
            <a href="mailto:{{site.email}}">{{ site.email }}</a>
          </li>
        </ul>
        {% include social_icons.html %}
        <ul class="right">
          <li>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
