<footer class="footer-2" role="contentinfo">
  <ul>
    <li><a href="javascript:void(0)">About Us</a></li>
  </ul>
  
  <div class="footer-secondary-links">
    <ul>
      <li><span>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</span></li>
  
      {% comment %}
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      {% endcomment %}
    </ul>
  
    <ul class="footer-social">
      <li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><img src="{{ site.baseurl }}/images/facebook_circle.svg" alt="Facebook">
        </a></li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="{{ site.baseurl }}/images/twitter_circle.svg" alt="Twitter"></a></li>
    </ul>
  </div>
  
  <div>&nbsp;</div>
</footer>
