%footer(role="contentinfo")
  %nav
    %ul.left
      %li
        %a(href="javascript:alert('Coming Soon: About Us')") About Us

    {% include social_icons.html %}

    %ul.right
      %li &copy; {{ site.title }} {{ site.time | date: '%Y' }}
