%footer(role="contentinfo")
  .row
    .columns
      %nav
        %ul.left
          %li
            {% if page.path == 'index.html' %}
            %a{data: { slide_to: ''}, href: '#about_us'} About Us
            {% else %}
            %a{href: '/#about_us'} About Us
            {% endif %}

          %li
            %a(href="mailto:{{site.email}}") {{ site.email }}

        {% include social_icons.html %}

        %ul.right
          %li &copy; {{ site.title }} {{ site.time | date: '%Y' }}
