%footer(role="contentinfo")
  .row
    .columns
      %nav
        %ul.left
          %li
            %a{href: "{{ '/about_us' | prepend: site.baseurl }}"} About Us

          %li
            %a{href: "{{ '/our_blog' | prepend: site.baseurl }}"} Our Blog

          %li
            %a(href="mailto:{{site.email}}") {{ site.email }}

        {% include social_icons.html %}

        %ul.right
          %li &copy; {{ site.title }} {{ site.time | date: '%Y' }}
