<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a class="logo" href="{{ '/' | prepend: site.baseurl }}">
          <img src="{{ '/images/logo-outline.svg' | prepend: site.baseurl }}">
        </a>
      </h1>
    </li>
    <li class="toggle-topbar">
      <a href="javacript:void(0)">
        <span>Menu</span>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
          <img alt="Facebook" src="{{ site.baseurl }}/images/facebook_circle.svg">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
          <img alt="Facebook" src="{{ site.baseurl }}/images/twitter_circle.svg">
        </a>
      </li>
    </ul>
    <ul class="left">
      {% unless page.path == 'index.html' %}
      {% endunless %}
      <li>
        <a href="{{ '/contact_us' | prepend: site.baseurl }}">
          Contact us
        </a>
      </li>
    </ul>
  </section>
</nav>
