.sticky.contain-to-grid
  %nav.top-bar(data-topbar role='navigation')
    %ul.title-area
      %li.name
      %li.toggle-topbar.menu-icon
        %a{href: 'javacript:void(0)'}
          %span
            -# Menu

    %section.top-bar-section
      %ul.left
        {% unless page.path == 'index.html' %}
        %li
          %a{ href: "{{ '/' | prepend: site.baseurl }}"} Home
        {% endunless %}

        {% assign links = 'contact_us' | split: '|' %}
        {% for link in links %}
        {%   assign text = link | capitalize | split: '_' %}
        %li{class: "{% if page.path contains link %}{{ 'active' }}{% endif %}" }
          %a{href: "/{{link}}" }
            {% for word in text %}
            {{   word || capitalize }}
            {% endfor %}
        {% endfor %}

        {% assign links = 'schools|nurseries|parents' | split: '|' %}
        {% for link in links %}
        {%   assign text = link | capitalize | split: '_' %}
        %li
          {% if page.path == 'index.html' %}
          %a{data: { slide_to: '' }, href: "\#{{link}}" }
            {{ link || capitalize }}
          {% else %}
          %a{href: "/\#{{link}}" }
            {{ link || capitalize }}
          {% endif %}
        {% endfor %}

      {% include social_icons.html %}
