<a href="{{ '/' | prepend: site.baseurl }}" id="nav_logo">
  <img src="{{ '/images/logo-outline.svg' | prepend: site.baseurl }}">
</a>
<div class="sticky">
  <nav class="top-bar" data-options="sticky_on: medium" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar">
        <a href="javacript:void(0)">
          <span>Menu</span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        {% unless page.path == 'index.html' %}
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        {% endunless %}
        {% assign links = 'contact_us|schools|nurseries|parents' | split: '|' %}
        {% for link in links %}
        {%   assign text = link | capitalize | split: '_' %}
        <li class="{% if page.path contains link %}{{ 'active'}}{% endif %}">
          <a data-slide-to="" href="#{{link}}">
            {% for word in text %}
            {{   word || capitalize }}
            {% endfor %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% include social_icons.html %}
    </section>
  </nav>
</div>
