<div class="sticky contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon">
        <a href="javacript:void(0)">
          <span>
          </span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        {% unless page.path == 'index.html' %}
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        {% endunless %}
        {% assign links = 'schools|nurseries|parents|contact_us|about_us|our_blog' | split: '|' %}
        {% for link in links %}
        {%   assign text = link | capitalize | split: '_' %}
        <li class="{% if page.path contains link %}{{ 'active' }}{% endif %}">
          <a href="/{{link}}">
            {% for word in text %}
            {{   word || capitalize }}
            {% endfor %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% include social_icons.html %}
    </section>
  </nav>
</div>
