%a#nav_logo{href: "{{ '/' | prepend: site.baseurl }}"}
  %img{src: "{{ '/images/logo-outline.svg' | prepend: site.baseurl }}" }

.sticky
  %nav.top-bar(data-topbar role='navigation' data-options='sticky_on: medium')
    %ul.title-area
      %li.name
      %li.toggle-topbar
        %a{href: 'javacript:void(0)'}
          %span Menu

    %section.top-bar-section
      %ul.left
        {% unless page.path == 'index.html' %}
        %li
          %a{ href: "{{ '/' | prepend: site.baseurl }}"} Home
        {% endunless %}

        %li{class: "{% if page.path contains 'contact_us' %}{{ 'active'}}{% endif %}" }
          %a{href: "{{ '/contact_us' | prepend: site.baseurl }}"} Contact us

      {% include social_icons.html %}
