<a class="fixed" href="{{ '/' | prepend: site.baseurl }}" id="nav_logo">
  <img src="{{ '/images/logo-outline.svg' | prepend: site.baseurl }}">
</a>
<div class="sticky">
  <nav class="top-bar" data-options="sticky_on: medium" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar">
        <a href="javacript:void(0)">
          <span>Menu</span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        {% unless page.path == 'index.html' %}
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        {% endunless %}
        <li class="{% if page.path contains 'contact_us' %}{{ 'active'}}{% endif %}">
          <a href="{{ '/contact_us' | prepend: site.baseurl }}">Contact us</a>
        </li>
      </ul>
      <ul class="social right">
        <li>
          <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
            <img alt="Facebook" src="{{ '/images/facebook_circle.svg' | prepend: site.baseurl }}">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img alt="Facebook" src="{{ '/images/twitter_circle.svg' | prepend: site.baseurl }}">
          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>
